@use "../abstract/variables" as var;
@use "../abstract/mixins" as mixs;

:root {
  --default-font   : #{var.$default-font};
  --font-24        : #{var.$font-24};
  --color-green    : #{var.$Green};
  --color-white    : #{var.$White};
  --color-grey-700 : #{var.$Grey-700};
  --color-grey-800 : #{var.$Grey-800};
  --color-grey-900 : #{var.$Grey-900};
  --spacing-500    : #{var.$spacing-500};
  --spacing-300    : #{var.$spacing-300};
  --spacing-200    : #{var.$spacing-200};
  --spacing-150    : #{var.$spacing-150};
  --spacing-100    : #{var.$spacing-100};
  --spacing-50     : #{var.$spacing-50};
  --border-round-m : #{var.$border-round-m};
  --border-round-s : #{var.$border-round-s};
  --line-height    : 1.5;
  }

body {
  font-size        : var(--default-font);
  background-color : var(--color-grey-900);
  color            : var(--color-white);
  @include mixs.Inter-font();
  }
