@use "../abstract/mixins";

*, *::before, *::after {
  box-sizing: border-box;
  }

body {
  font-size        : var(--default-font);
  background-color : var(--color-grey-900);
  color            : var(--color-white);
  @include mixins.Inter-font();
  display          : flex;
  justify-content  : center;
  align-items      : center;
  height           : 100vh;
  flex-direction   : column;
  margin           : var(--spacing-150) auto 0;
  padding-left     : var(--spacing-150);
  padding-right    : var(--spacing-150);
  }

h1 {
  font-size   : var(--font-24);
  margin      : 0.313em 0;
  font-weight : 600;
  }

p {
  font-weight : 300;
  margin      : 0.313em 0;
  }

a:link, a:visited, a:active {
  color            : var(--color-white);
  background-color : var(--color-grey-700);
  text-decoration  : none;
  transition       : all 0.1s ease-in-out;
  }
