.social__profile {
  background-color : var(--color-grey-800);
  padding          : var(--clamp-padding-1);
  display          : flex;
  flex-direction   : column;
  align-items      : center;
  justify-content  : center;
  border-radius    : var(--border-round-m);
  gap              : var(--gap-2);
  width: 100%;
  max-width: 24em;
  
  &__figure {
	margin : 0;
	}
  
  &__img {
	border-radius : var(--border-round-half);
	}
  
  &__info {
	text-align : center;
	
	& p {
	  margin      : 0.313em 0 0.188em;
	  color       : var(--color-green);
	  font-weight : bold;
	  }
	}
  
  &__buttons {
	display         : flex;
	flex-direction  : column;
	align-items     : center;
	justify-content : center;
	gap             : var(--gap-1);
	width           : 100%;
	}
  
  &__button {
	width         : 100%;
	padding       : var(--spacing-150);
	text-align    : center;
	border-radius : var(--border-round-s);
	font-weight   : bold;
	
	&:hover {
	  color            : var(--color-grey-700);
	  background-color : var(--color-green);
	  }
	}
	
  }